<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Comparison</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='lib/datatable/datatables.min.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }} ">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Price Comparison</a>
    </nav>
    <div class="container">

        {% block content %}{% endblock %}
    </div>
    <script src=" {{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }} "></script>
    <script src=" {{ url_for('static', filename='lib/datatable/datatables.min.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/index.js') }} "></script>
</body>


</html>