{% extends "layout/layout.html" %} {% block content %}


<div class="mt-5" style="height: 500px">

    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto  text-center ">
                <h1 class="display-4  my-5">About This Website</h1>
                <p>In searching for products,</p>
                <p>sometimes users feel confused because of different product prices from different e-commerce.</p>
                <p>This website, it will be easier for users to compare product.</p>
                <p>This website generates data from the Web Scraping process.</p>
                <p>Data sources used in Web Scraping are e-commerce websites.</p>
                <p>E-commerce websites are <b>Bukalapak</b>, <b>Tokopedia</b>, and <b>Lazada</b></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}