.rating {
    font-size: 80%;
}

.rating img {
    width: 20px;
}

.linkbaris {
    cursor: pointer;
}

table {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 0;
}

table th {
    color: #f1f8ff;
    background-color: #1e2935;
}

body {
    margin-bottom: 100px;
    max-height: 100%;
}

.mx-2 li {
    margin-bottom: 10px;
}

.table-responsive {
    overflow-x: hidden;
}

td>div .d-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Hover link untuk menandakan bahwa cell tersebut memiliki hyperlink */

a {
    text-decoration: none;
}

.hoverlink {
    padding: 4% 0 0 0;
    vertical-align: middle;
    transition: .5s all;
    color: black;
}

.hoverlink:hover {
    background-color: rgb(75, 100, 129);
    color: white;
    text-decoration: none;
}