<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Comparison</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body style="background-color: #f1f1f1;">
    <nav class="navbar sticky-top navbar-light  px-5" style="background-color: #212529;">
        <a class="navbar-brand text-light" href="#">Web Comparison</a>
    </nav>
    <div class="container h-100">

        {% block content %}{% endblock %}
    </div>
    <footer class=" fixed-bottom" style="background-color: #212529;">
        <div class="text-light container footer-copyright text-left px-4 py-3">Steven Rumanto - 1772026 | Web Comparison @ 2020</div>

    </footer>
</body>


</html>